:root {
    font-size: 62.5%;
    --primary-color: #483C59;
    --primary-color-dark: #4B2F78;
    --medium-color: #383B40;
    --secondary-color: #BFBFBF;
    --medium-secondary-color: #F2F2F2;
}